# gradle

.gradle/
build/
runs/
out/
classes/
.kotlin/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric
.fabric/
run/
logs/
.cache/
.mixin.out/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr